<!DOCTYPE html>
<html lang="ja">
<head>
    <!-- サイトのメタ情報（いじらない） -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- fabicon (Webアイコン) の設定（いじらない） -->
    <link rel="apple-touch-icon" type="image/png" href="images/favicon/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="images/favicon/icon-192x192.png">

    <!-- OGP 設定（いじらない） -->
    <meta property="og:title" content="Quiz App">
    <meta property="og:description" content="クイズアプリ">
    <meta property="og:url" content="https://inpw.jp/app/quizapp">
    <meta property="og:image" content="https://inpw.jp/app/quizapp/images/ogp.png">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Quiz App">
    <meta name="twitter:card" content="summary_large_image">
    
    <!-- Bootstrap の読み込み（いじらない） -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP" rel="stylesheet">
    <script src="https://kit.fontawesome.com/8697af1928.js" crossorigin="anonymous"></script>


    <!-- CSSの読み込み（いじらない） -->
    <link rel="stylesheet" href="main.css">
    
    <!-- サイトのタイトル -->
    <title>ストーリー</title>

</head>
<body>

    <!-- ナビゲーションバー -->
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-main-green">
        <a class="navbar-brand" href="index.html">
            <img src="images/logo.png" width="30" height="30" class="d-inline-block align-top mr-2" alt="">
            Story App
        </a>
    </nav>

    <div id="app">

        <div class="container">


            <div class="row mt-5">

                <div class="col-12">
                    <h2 class="sceneTitle"><i class="far fa-lightbulb"></i><span>{{currentStoryData.sceneTitle}}</span></h2>
                </div>
                
                    <!-- ストーリー進行のタイトルとテキスト、画像を表示するエリア -->
                    <div class="col-8 offset-2" v-show="!isChoiceButtonShow">
                        
                        <div class="my-2">
                            <img :src="'images/'+currentStoryData.chapters[currentChapterId].imageUrl" alt="" class="w-100">
                        </div>
                        
                        <h4 class="my-3">{{currentStoryData.chapters[currentChapterId].subtitle}}</h4>
    
                        <p>{{currentStoryData.chapters[currentChapterId].text}}</p>
    
                    </div>

                    <!-- 選択肢を表示するエリア -->

                    <div class="col-8 offset-2" v-if="isChoiceButtonShow">

                        <div class="my-2">
                            <img :src="'images/'+currentStoryData.question.imageUrl" alt="" class="w-100">
                        </div>

                        <h4>{{currentStoryData.question.title}}</h4>
                        <p>{{currentStoryData.question.text}}</p>
                        

                        <div class="row">
                            
                            <div class="col-6 p-2" v-for="(choice, index) in currentStoryData.question.choices">

                                <button @click="choiceButtonClicked(choice.next.layerId, choice.next.sceneId)" :class="getButtonColor(index)">
                                    {{choice.title}}
                                </button>

                            </div>
                        </div>

                    </div>
                    

                <div class="col-12 text-center mt-5">

                    <button class="btn btn-primary" @click="prevButtonClicked()">◀ 前の場面へ</button>

                    <button class="btn btn-primary" @click="nextChapterButtonClicked()">次の場面へ ▶
                    </button>
                </div>


                <!-- 選択肢を表示する領域 -->


                <!-- 回答ボタンを表示する領域 -->

            </div>

        </div>

         <!-- すべての問題を回答し終わったときに表示するモーダル -->

         <div class="modal fade" id="matomeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" v-if="isLastLayer">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        おつかれさまでした！
                    </div>
                    
                    <div class="modal-body">

                        <div class="row">
                            <div class="col-3">
                                <img src="images/cat2_4_think.png" class="w-100" alt="">
                            </div>
                            <div class="col-9">
                                <h4>{{currentStoryData.story.storyTitle}}エンド</h4>
                                <p>{{currentStoryData.story.storyMessage}}</p>
        
                                <h5>考えよう</h5>
                                <p>{{currentStoryData.story.storyQuestion}}</p>
                            </div>
                        </div>

                    </div>
        
                    <div class="modal-footer">
                
                        <a href="#" class="btn btn-primary" @click="reload()">最初から答える</a>

                    </div>
                </div>
            </div>
         </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="storyDataSample.js"></script>
    <script src="main.js"></script>

</body>

</html>
